<script lang="ts" setup>
import { ref } from "vue";
const img = ref("./feeling_imgs/smile.png");
const text = ref("Smile");
const colorChange = ref(6);

function imgshow(feeling: string) {
  img.value = feeling;
}
function status(textShow: string) {
  text.value = textShow;
}
function change(color: number) {
  colorChange.value = color;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col><v-img :src="img"></v-img></v-col>
      <v-col>
        <h1>{{ text }}</h1>
        <v-btn
          :color="colorChange === 1 ? 'yellow' : 'none'"
          class="mt-2"
          height="30px"
          @click="
            imgshow('./feeling_imgs/angry.png'), status('Angry'), change(1)
          "
          block
          >ANGRY</v-btn
        >

        <v-btn
          :color="colorChange === 2 ? 'yellow' : 'none'"
          class="mt-2"
          height="30px"
          @click="imgshow('./feeling_imgs/cute.png'), status('Cute'), change(2)"
          block
          >CUTE</v-btn
        >
        <v-btn
          :color="colorChange === 3 ? 'yellow' : 'none'"
          class="mt-2"
          height="30px"
          @click="
            imgshow('./feeling_imgs/excited.png'), status('Excited'), change(3)
          "
          block
          >EXCITED</v-btn
        >
        <v-btn
          :color="colorChange === 4 ? 'yellow' : 'none'"
          class="mt-2"
          height="30px"
          @click="imgshow('./feeling_imgs/pain.png'), status('Pain'), change(4)"
          block
          >PAIN</v-btn
        >
        <v-btn
          :color="colorChange === 5 ? 'yellow' : 'none'"
          class="mt-2"
          height="30px"
          @click="
            imgshow('./feeling_imgs/shocked.png'), status('Shocked'), change(5)
          "
          block
          >SHOCKED</v-btn
        >
        <v-btn
          :color="colorChange === 6 ? 'yellow' : 'none'"
          class="mt-2"
          height="30px"
          @click="
            imgshow('./feeling_imgs/smile.png'), status('Smile'), change(6)
          "
          block
          >SMILE</v-btn
        ></v-col
      >
    </v-row>
  </v-container>
</template>

<style scoped>
h1 {
  text-align: center;
}
</style>
