<script lang="ts" setup>
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const num = ref("0");
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          v-model="num"
          clearable
          label="Please input Number"
          :rules="[(v) => !!v || 'Number is not empty!!']"
          required
        ></v-text-field>
      </v-col>
    </v-row>
  </v-container>
  <v-row v-if="parseInt(num) > 0" style="height: 70vh; overflow: auto">
    <v-col v-for="n in parseInt(num)" :key="n" cols="1">
      {{ n }}
    </v-col>
  </v-row>
</template>

<style></style>
