<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
const useCounter = useCounterStore();
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent />
        <v-btn @click="useCounter.increment">INCREMENT</v-btn>
      </v-col>
      <v-col>
        <SecondComponent />
        <v-btn @click="useCounter.reduce">DECREASE</v-btn></v-col
      >
    </v-row>
  </v-container>
</template>
