<script lang="ts" setup>
import { ref } from "vue";
import { useProductStore } from "../stores/product";
import type Product from "@/types/Product";
const useProduct = useProductStore();
defineProps<{
  item: Product;
}>();

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container style="height: 80vh; overflow-y: auto">
          <v-row>
            <v-col cols="4" v-for="item of products" :key="item.id">
              <v-card>
                <v-card-title class="text-center">{{ item.name }}</v-card-title>
                <h3 class="text-center">{{ item.price }}</h3>
                <v-card-actions class="justify-center">
                  <v-btn
                    elevation="2"
                    @click="
                      useProduct.addproduct(item.id, item.name, item.price)
                    "
                  >
                    Add
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col>
        <v-container style="height: 80vh; overflow-y: auto"
          ><v-table>
            <thead>
              <tr>
                <th class="text-left">id</th>
                <th class="text-left">name</th>
                <th class="text-left">price</th>
              </tr>
            </thead>
            <tbody v-if="useProduct.selectedProducts.length != 0">
              <tr v-for="item in useProduct.selectedProducts" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
          <p
            v-if="useProduct.selectedProducts.length == 0"
            class="mt-5"
            style="text-align: center"
          >
            No Data
          </p>
        </v-container>
        <p style="font-size: 30pt" class="mt-1">Sum: {{ useProduct.total }}</p>
      </v-col>
    </v-row>
  </v-container>
</template>
